span.hidden {
    display: none
}
/* CSS for slidenav*/
#fontblack{
  color: black;
}
#no_padding{
  list-style-type: none;
  display: inline;
}
#padding{
  margin: 20px;
}
main{
  background-color: rgba(255,255,122,0.5);
}
h1{
  font-family: 'Cookie', cursive;
}
h2,h3{
  font-family: 'Raleway', semi-bold;
}
h4,h5,h6{
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
header{
  background-image: url("../img/background_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
ul,li{
  list-style-type: none;
}

nav{
  font-family: 'Raleway', sans-serif;
}

/*-------~~~~~added by glen-------~~~~~*/
/* CSS for NAV*/
nav ul{
  list-style-type: none;
  margin: 30px 0px;
  padding: 10px;
}
nav li {
  display: inline;
  padding: 8px 2px 4px 2px;
}
nav a:link, nav a:visited {
  color: black;
  text-decoration: none;
  padding: 6px 8px 6px 8px;
  margin: 10px 0px;
}
nav a:hover {
	background-color: transparent;
  color: gray;
	text-decoration: none;
}
nav a.current {
  background-color: none;
  color: black;
  text-decoration: underline;
}

a:hover.current {
  color: black;
  background-color: none;
}
footer{
  background-color: black;
}
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3, .bar4, .bar5 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*glen--this is a wrapper for the side_bar*/
.button{
  color: white;
  background-color: red;
}
.menu{
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  margin: 0 100px 0 100px;
  padding: 5 0 0 0;
  opacity: 5.0;
}
.copyright{
  font-size: 12px;
}
.line{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.vspace {
  margin-top: 20px;
}
.nspace{
  margin-bottom: 10px;
}
/* css for the carousel*/
.slide_bar{
  width: 100%;
  position: absolute;
  margin-left: 100px;
  overflow: auto;
}
.smalltxt{
  font-size: 12px;
}
/*CSS for the fixing stuff*/
.mid{
  text-align: center;
}
.cookie{
  font-family:'Cookie', cursive;
}
.fit{
  padding: inherit;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
.ralewaysb{
  font-family: 'Raleway', semi-bold;
}
/*.container{
  margin: 100px;
  padding: 50px;
  color: black;
  background-color: rgba(255,255,122,0.5);
}*/
